<nav class="w-full h-12 flex items-center justify-between px-2 md:px-6 py-3 border-b border-[#cbd5e1]">
    <!--Logo-->    
    <img [ngSrc]="logoSrc" alt="logo-image" width="52" height="40" priority="true"/>
   

    <!--Routes-->
    <section class="hidden md:flex w-auto items-center justify-center gap-2">
        @for (item of items; track $index) {
        <app-nav-item [item]="item" />
        }
    </section>

    <!--Logout-->
    <button type="button" (click)="logout()" class="hidden md:flex w-auto h-[40px] px-4 items-center justify-center rounded-lg bg-blue-700 text-white font-poppins cursor-pointer hover:bg-blue-500 transition-colors duration-200 ease-in-out">       
        Cerrar Sesión
    </button>

    <section class="flex mt-1 md:hidden">
        <button class="w-12 flex flex-col items-end px-3 justify-center gap-1 cursor-pointer md:hidden" (click)="onSideBarOpen()"> 
            <div class="w-full h-[2px] bg-black transition-transform rounded-full" [ngClass]="opened ? 'rotate-[45deg] translate-y-1': 'rotate-0'"></div>
            <div class="w-[70%] h-[2px] bg-black transition-opacity rounded-full" [ngClass]="opened ? 'opacity-0': 'opacity-100'"></div>
            <div class="w-[50%] h-[2px] bg-black transition-transform rounded-full" [ngClass]="opened ? 'w-full rotate-[-45deg] translate-y-[-0.5rem]': 'w-[50%] rotate-0'"></div>
        </button>
    </section>
</nav>
