<div class="modal-backdrop fixed inset-0 bg-black/30 backdrop-blur-sm z-[100] flex items-center justify-center transition-opacity"    
    [class.opacity-0]="!isVisible" [class.opacity-100]="isVisible" [style.pointer-events]="isVisible ? 'auto' : 'none'"
    (click)="onBackdropClick($event)">

    <div class="modal-container relative bg-white rounded-lg shadow-xl w-11/12 max-w-2xl max-h-[90vh] flex flex-col transition-all duration-300"        
        [class.translate-y-4]="!isVisible" [class.opacity-0]="!isVisible" [class.translate-y-0]="isVisible"
        [class.opacity-100]="isVisible">

        <!-- Botón para cerrar -->
        <button
            class="absolute right-4 top-4 text-black transition-colors z-10"
            (click)="close()">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>

        <!-- Header proyectado -->
        <div class="modal-header p-6 border-b border-b-gray-200">
            <ng-content select="[modal-header]"></ng-content>
        </div>

        <!-- Content proyectado con scroll -->
        <div class="modal-content p-6 overflow-y-auto">
            <ng-content select="[modal-content]"></ng-content>
        </div>

        <!-- Footer proyectado -->
        <div class="modal-footer p-6 border-t border-t-gray-200">
            <ng-content select="[modal-footer]"></ng-content>
        </div>
    </div>
</div>
