@import "tailwindcss";


h1 {
    font-family: 'poppins';
    font-size: clamp(14px,2vw,20px);
    font-weight: 400;
    line-height: normal;
}

p {
    font-family: 'poppins';
    font-size: clamp(12px,1vw,18px);
    font-weight: 400;
    line-height: normal;
}

.semibold-header {
    font-family: 'poppins';
    font-size: clamp(14px,2vw,20px);
    font-weight: 600;
    line-height: normal;
}

.font-poppins {
    font-family: 'poppins';
}